html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
}
* {
  font-family: "Epilogue";
}
#hero {
  background: url(assets/wave-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.secondary {
  border: 1px solid #0077ff;
}
